<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.av.alarm_clock" >

    <!-- To use Instagram API -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.av.alarm_clock.MainActivity" />
        </activity>
        <activity
            android:name=".alarm_main.AlarmList"
            android:label="@string/title_activity_alarm_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".alarm_main.AlarmSetup"
            android:label="Настройки будильника"
            android:parentActivityName=".alarm_main.AlarmList"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".alarm_ringer.RingADingDingReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.av.alarm_clock.alarm_ringer.RingADingDingReceiver.RING_A_DING_DING" />
                <action android:name="com.example.av.alarm_clock.alarm_ringer.RingADingDingReceiver.DAILY_DOWNLOAD" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".alarm_ringer.RiseAndShineMrFreemanActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_rise_and_shine_mr_freeman"
            android:theme="@style/FullscreenTheme" />

        <service
            android:name=".alarm_ringer.ImageDownloadIntentService"
            android:exported="false" />
        <service
            android:name=".alarm_ringer.MosEisleyOrchestraService"
            android:exported="false" />

        <activity
            android:name=".alarm_main.AlarmSettings"
            android:label="@string/title_activity_alarm_settings"
            android:parentActivityName=".alarm_main.AlarmList" >
        </activity>
        <activity
            android:name=".alarm_main.ActivityMainSettings"
            android:theme="@style/AppTheme2"
            android:label="@string/title_activity_activity_main_settings" >
        </activity>
    </application>

</manifest>
